@model ShopTARgv24.Models.RealEstates.RealEstateImageViewModel

<div class="form-group row col-sm-4 offset-2">
	<div>@Model.Image</div>
	<img class="card-image-top" src="@Model.ImageTitle" asp-append-version="true" />
</div>
